*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
body{
    background-color: #F2F2F2;
    font-family: Poppins,sans-serif;
}
.main{
   background-image: url(./family-camping-at-sunset.jpg);
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;     
}
.logo{
   /* font-size: x-large; */
   font-weight: bold; 
   font-family: Poppins,sans-serif;
   padding-left: 5%;
   
}
a{
    text-decoration: none;
    background-color: transparent;
    color: white;
   
}
.main .imgbody .button a{
    color: black;
    
}
.navClass{
    display: flex;
   padding-right: 100px;
   font-family: Poppins,sans-serif;

}
.navButton{
        padding-left: 20px;
        padding-right: 20px;
       /* z-index: 2;  */
}
.header{
    background-color: #333333;
    color: white;
    height: 12%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}
.header a:hover{
    color: #ddd;
}
.imgbody a:hover{
    color: #ddd;
    /* transition: left 0.3s ease; */
}
.imgbody{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    font-family: Poppins,sans-serif;
   background-color: rgba(0, 0, 0, 0.25);
   height: 100%;
   
}
h1{
    
    font-size: 40px;
    font-weight: bold;
}
.p1{
    font-size: 20px;
    font-weight: 400;
}
.button{
    font-size: 18px;
    border-radius: 5px;
    padding: 15px 20px;
    border: 2px solid white;
    background-color: white;
    color: black;
    
}
.button:hover{
    background-color: rgba(255, 255, 255, 0.5);
    color: white;   
    border-color: white;
}
.service{
    /* height: 100vh;
    width: 100vw; */
    
    background-color: #F2F2F2;
    text-align: center;
}
.heading{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5%;
    line-height: 1.6;
}
.heading h2{
    font-size: 32px;
}
.heading pp{
    font-size: 16px;
    
}
.ourSer{
    display: flex;
    flex-wrap: wrap;
    
    /* padding: 2% ; */
    margin: 0px 60px;
    
}
.image{
    height: 120px;
    width: 120px;
    border-radius: 60px;
    margin: 10px 0px;
}
.servicepages{
    position: static;
    margin: 0px 20px 40px;   
    width: 30%;
    padding: 30px 30px 50px 30px;
    border-radius: 5px;
    background-color: white;
    line-height: 1.6;
   
} 
.servicepages p{
    font-size: large;
}
.about{
    padding: 7% 7% 0% 7%;
    line-height: 1.6;
}
.aboutus{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2%;
}
.contact{
    padding-top: 50px;
}

.final{
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 2;
    margin: 30px 90px 90px 90px;
}
.cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2%;
}
/* .contact .final .info{
    display: flex;
} */
.contact .form form input{
    height: 45px;
  margin-bottom: 20px;
  padding: 10px;
  width: 40vw;
  font-size: 16px;
  outline: none;
  border: 1px solid #bfbfbf;
}

.contact .form form textarea{
    padding: 10px;
    width: 100%;
    font-size: 16px;
    height: 150px;
    outline: none;
    resize: vertical;
    border: 1px solid #bfbfbf;
}

.contact .form button{
    margin-top: 10px;
  padding: 10px 20px;
  font-size: 17px;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background: #333;
  transition: 0.2s ease;
}
.contact .form button:hover{
    background: #525252;
}
.listItem{
    margin-left: 20px;
}
