*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.div1{
   background: linear-gradient(to right, #000000, #e74c3c);
        color: white;
        text-align: center;
        padding-block: 10px;
}

.navclass{
    padding: 15px 20%;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    /* padding-block: 30px; */
    display: flex;
    color: white;
    position: sticky;
    top: 0;
}

.block3{
    background-image: url("./test_3_img1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 6% 10%;
    color: white;
}
.div3{
    background-color: rgb(0,0,0,0.4);
    width: 70%;
    padding: 2%;
}
.block4{
   background-color: rgb(229,229,229);
   padding: 1% 5%;
   /* height: 10%; */
}
.div4 h1{
   padding-top: 10px;
    margin-left: 10px;
}
.div4{
    background-color:rgb(160,160,160);
    padding: 1%;
    /* margin-bottom: 5px; */
   margin-block: 10px;
}
/* .div5{
    display: flex;
    flex-direction: row; 
    margin-left: 5px;
    padding: 0.1%;
    background-color: rgb(96,96,96);
} */
 .div5{
    padding: 1%;
        
 }
/* #shoe1{
    margin: 5px;
}
#shoe2{
    margin: 5px;
}
#shoe3{
    margin:5px;
} */
.s1{
    height: 150px;
        width: 120px;
        display: inline-block;
        background-color: rgba(0, 0, 0, 0.4);
        color: white;
        padding: 0.1%;
}
.img1{
    height: 80%;
    width: 100%;
}
.para1{
    height: 20%;
    width: 100%;
    background-color: rgb(96,96,96);
}
.block5{
    background: linear-gradient(to right, gray,black);
    height: 92vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.div6{
    background: linear-gradient(to right, black,#B73C30);
    height: 75%;
    width: 85%;
    padding: 2%;
    margin: auto;
    margin-top: 7.5%;
    color: white;
    box-shadow: 0px 0px 10px gray;
    display: flex;
    justify-content: space-between;
}
.content{
    max-width: 40%;
    color: white;
}
.content h1{
    margin-bottom: 30px;
    font-size: xx-large;
}
.content p{
    line-height: 20px;
    margin-bottom: 50px;
    font-size: large;
}
.shoeimg{
    height: 300px;
    width: 300px;
    border-radius: 150px;
    box-shadow: 8px 8px 8px white;
}
.shoeimg:hover{
    height: 400px;
    width: 400px;
    border-radius: 200px;
    box-shadow: 10px 10px 15px white;
}